@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Message</h2>

<img id="aboutPanoramic" src="~/Content/Images/Campus-panoramic_1600.jpg" />

<h3 id="AboutUs" style=" font-weight:bold">About Us</h3>

<div class="row">
    <div class="col-md-4">
        <h4 style=" font-weight:bold">Department of Incoming Students for Information Systems </h4>
    </div>

    <div class="col-md-8">
    <h5>For over 15 years the Department of Incoming Student for Information Systems (Isys Program) has served as a base for introducing students to the 
        programs offered within the Isys School of Business Program. The department focuses primarily on responding to questions, concerns, and 
        feedback received by our incoming students. The department guarantees a 24 hour response and ensures that all questions are responded. </h5>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h4 style=" font-weight:bold">Why you should care </h4>
    </div>

    <div class="col-md-8">
        <h5>
            Within the Isys program, we have had nearly 100% job placement for students. One of the reasons behind this is because of the
            faculty who work entirely on preparing students for internships and career opportunities. The creation of this department is an example of the various
            means by which dedicated staff are seeking to help and answer students questions. Some of our services include:
        </h5>
            <ul class="aboutUl">
                <li>Website with FAQs regarding BYU's Information System Program </li>
                <li>Student access to question forum </li>
                <li>Staff committed to serving you</li>
            </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h4 style=" font-weight:bold">Feedback</h4>
    </div>

    <div class="col-md-8">
        <h5>
           We always are looking for ways to improve. If you noticed something that could be improved 
            (Website design, User Interface, Questions, Feedback, Response Time, etc.) please email us <a href="mailto:webmaster@example.com">Department of Incoming Students for Information Systems </a>.
        </h5>
    </div>
</div>
