
@{
    ViewBag.Title = "Degrees";
}

<!--This view is the main view within the Degree Questions Model-->
<div style="text-align: center">
    <h2>Select a Degree</h2>

    <a class="btn btn-primary btn-lg" href="@Url.Action("BSIS", "Home")">BSIS</a>
    <a class="btn btn-primary btn-lg" href="@Url.Action("MISM", "Home")"> MISM </a>
</div>